{% extends 'base.html.twig' %}

{% block title %}Private{% endblock %}

{% block body %}
    {{ parent() }}

    <p class="lead">La liste des informations de cette page est privée</p>

{% endblock %}
