{% extends 'base.html.twig' %}

{% block title %} Vidéo {% endblock %}

{% block body %}
    {{ parent() }}

    {% if is_granted(constant('App\\Security\\Voter\\SubscriberVoter::INPROGRESS')) %}
        <iframe width="560" height="315" src="https://www.youtube.com/embed/tNfEe4Nj5GQ?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    {% else %}
        <p class="text-warning">Vous devez avoir un abonnement pour voir cette vidéo</p>

        <p>
            <a href="{{ path('video_subscribe') }}" class="btn btn-outline-primary">S'abonner !</a>
        </p>
    {% endif %}

{% endblock %}
